body {
	background: black;
}

p {
	color: blue;
	font-family: "Times New Roman", Times, serif;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	margin: auto;
}

.postcard-header img {
	height: 50px;
	width: 50px;
	margin: 10px;
}

.postcard-header h1 {
	height: 50px;
	width: 350px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: auto;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: 1px solid grey;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(61, 58, 58);
	padding: 2px;
	color: white;
}
